.mac-book-air2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mac-book-air2-mac-book-air2 {
  width: 100%;
  height: 832px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(219, 236, 220, 0.75);
}
.mac-book-air2-rectangle1 {
  top: 544px;
  left: 358px;
  width: 582px;
  height: 102px;
  position: absolute;
  border-radius: 112px;
}
.mac-book-air2-rectangle2 {
  top: 378px;
  left: 358px;
  width: 582px;
  height: 102px;
  position: absolute;
  border-radius: 112px;
}
.mac-book-air2-text {
  top: 413px;
  left: 490px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air2-rectangle3 {
  top: 191px;
  left: 178px;
  width: 925px;
  height: 123px;
  position: absolute;
  border-radius: 112px;
}
.mac-book-air2-text2 {
  top: 207px;
  left: 322px;
  color: rgba(0, 0, 0, 1);
  width: 636px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air2-text4 {
  top: 51px;
  left: 299px;
  color: rgba(0, 0, 0, 1);
  width: 700px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air2-tree031 {
  top: 459px;
  left: 1037px;
  width: 220.92457580566406px;
  height: 373.4775085449219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air2-group47 {
  top: 225.70643615722656px;
  left: 90.19461822509766px;
  width: 50.16897964477539px;
  height: 147.7710723876953px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air2-rectangle248 {
  top: 0px;
  left: 0px;
  width: 50px;
  height: 148px;
  position: absolute;
}
.mac-book-air2-rectangle291 {
  top: -0.000012009747479169164px;
  left: 7.379596710205078px;
  width: 35px;
  height: 80px;
  position: absolute;
}
.mac-book-air2-group49 {
  top: 0px;
  left: 0px;
  width: 220.92457580566406px;
  height: 326.3182067871094px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air2-group48 {
  top: 0px;
  left: 0px;
  width: 220.9243927001953px;
  height: 326.3182067871094px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air2-union {
  top: 116.08135223388672px;
  left: 0.000041381634218851104px;
  width: 140px;
  height: 128px;
  position: absolute;
}
.mac-book-air2-union01 {
  top: 326.3182678222656px;
  left: 119.67327880859375px;
  width: 134px;
  height: 123px;
  position: absolute;
}
.mac-book-air2-union02 {
  top: 102.78601837158203px;
  left: 79.77220153808594px;
  width: 141px;
  height: 130px;
  position: absolute;
}
.mac-book-air2-union03 {
  top: 46.101287841796875px;
  left: 65.08412170410156px;
  width: 141px;
  height: 130px;
  position: absolute;
}
.mac-book-air2-union04 {
  top: 69.91580200195312px;
  left: 13.119260787963867px;
  width: 116px;
  height: 106px;
  position: absolute;
}
.mac-book-air2-union05 {
  top: 77.30841827392578px;
  left: 187.06149291992188px;
  width: 116px;
  height: 106px;
  position: absolute;
}
.mac-book-air2-subtract {
  top: 173.22157287597656px;
  left: 0.0000936273208935745px;
  width: 221px;
  height: 119px;
  position: absolute;
}
.mac-book-air2-tree0311 {
  top: 544px;
  left: 0px;
  width: 221px;
  height: 308px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air2-group471 {
  top: 186.1359100341797px;
  left: 90.2254638671875px;
  width: 50.18610763549805px;
  height: 121.86407470703125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air2-rectangle2481 {
  top: 0px;
  left: 0px;
  width: 50px;
  height: 122px;
  position: absolute;
}
.mac-book-air2-rectangle2911 {
  top: -0.000006819570444349665px;
  left: 7.382072925567627px;
  width: 35px;
  height: 66px;
  position: absolute;
}
.mac-book-air2-group491 {
  top: 0px;
  left: 0px;
  width: 221px;
  height: 269.10858154296875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air2-group481 {
  top: 0px;
  left: 0px;
  width: 220.99981689453125px;
  height: 269.10858154296875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air2-union06 {
  top: 95.73014831542969px;
  left: 0.000057155804825015366px;
  width: 140px;
  height: 106px;
  position: absolute;
}
.mac-book-air2-union07 {
  top: 269.1086120605469px;
  left: 119.71414184570312px;
  width: 125px;
  height: 111px;
  position: absolute;
}
.mac-book-air2-union08 {
  top: 84.7657241821289px;
  left: 79.79944610595703px;
  width: 141px;
  height: 107px;
  position: absolute;
}
.mac-book-air2-union09 {
  top: 38.0189094543457px;
  left: 65.1063461303711px;
  width: 141px;
  height: 107px;
  position: absolute;
}
.mac-book-air2-union10 {
  top: 57.65824508666992px;
  left: 13.1237154006958px;
  width: 116px;
  height: 88px;
  position: absolute;
}
.mac-book-air2-union11 {
  top: 63.75482177734375px;
  left: 187.12535095214844px;
  width: 107px;
  height: 97px;
  position: absolute;
}
.mac-book-air2-subtract1 {
  top: 143.2335662841797px;
  left: 0.00014819129137322307px;
  width: 221px;
  height: 98px;
  position: absolute;
}
.mac-book-air2-tree061 {
  top: 582px;
  left: 218px;
  width: 104px;
  height: 275.9752197265625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air2-group62 {
  top: 145.85076904296875px;
  left: 32.94429016113281px;
  width: 38.763641357421875px;
  height: 130.1244354248047px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air2-rectangle2482 {
  top: 0px;
  left: 0px;
  width: 39px;
  height: 130px;
  position: absolute;
}
.mac-book-air2-rectangle2912 {
  top: -0.000033880893170135096px;
  left: 5.701797962188721px;
  width: 27px;
  height: 70px;
  position: absolute;
}
.mac-book-air2-vector8 {
  top: 116.4770278930664px;
  left: 0px;
  width: 104px;
  height: 91px;
  position: absolute;
}
.mac-book-air2-intersect {
  top: 119.85749053955078px;
  left: 8.869715690612793px;
  width: 85px;
  height: 56px;
  position: absolute;
}
.mac-book-air2-vector9 {
  top: 71.19598388671875px;
  left: 0px;
  width: 104px;
  height: 91px;
  position: absolute;
}
.mac-book-air2-intersect1 {
  top: 67.87112426757812px;
  left: 11.344825744628906px;
  width: 81px;
  height: 54px;
  position: absolute;
}
.mac-book-air2-vector10 {
  top: 35.351924896240234px;
  left: 8.456416130065918px;
  width: 88px;
  height: 74px;
  position: absolute;
}
.mac-book-air2-intersect2 {
  top: 21.661001205444336px;
  left: 18.372770309448242px;
  width: 68px;
  height: 56px;
  position: absolute;
}
.mac-book-air2-vector11 {
  top: 0px;
  left: 17.739227294921875px;
  width: 69px;
  height: 62px;
  position: absolute;
}
